# 忽略编译和构建目录
target/
usr/
node_modules/
out/
gen/
build/
dist/
avatar/
# 忽略特定格式的文件
audio/
vosk*
*.zip
*.log
*.tmp
*.swp
*.swo

# 忽略 IDE 相关文件
.idea/
*.iml
*.ipr
*.iws

# 忽略 Maven 和 Gradle 缓存
.mvn/
.mvn/wrapper/
.gradle/

# 忽略本地配置文件
application-local.properties