<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaozhi.dao.ModelMapper">

    <sql id="modelSql">
        sys_model.modelId, sys_model.userId, sys_model.modelName, sys_model.modelDesc, sys_model.type, sys_model.appId, sys_model.apiKey, sys_model.apiSecret, sys_model.apiUrl, sys_model.state, sys_model.createTime
    </sql>

    <insert id="add" parameterType="com.xiaozhi.entity.SysModel">
        INSERT INTO sys_model (userId, type, modelName, modelDesc, appId, apiKey, apiSecret, apiUrl)
        VALUES (#{userId}, #{type}, #{modelName}, #{modelDesc}, #{appId}, #{apiKey}, #{apiSecret}, #{apiUrl})
    </insert>

    <update id="update" parameterType="com.xiaozhi.entity.SysModel">
        UPDATE
            sys_model
        <set>
            <if test="modelName != null and modelName != ''">modelName = #{modelName},</if>
            <if test="modelDesc != null and modelDesc != ''">modelDesc = #{modelDesc},</if>
            <if test="state != null and state != ''">state = #{state},</if>
            <if test="appId != null and appId != ''">appId = #{appId},</if>
            <if test="apiKey != null and apiKey != ''">apiKey = #{apiKey},</if>
            <if test="apiSecret != null and apiSecret != ''">apiSecret = #{apiSecret},</if>
            <if test="apiUrl != null and apiUrl != ''">apiUrl = #{apiUrl},</if>
        </set>
        WHERE
            modelId = #{modelId}
    </update>

    <select id="query" parameterType="com.xiaozhi.entity.SysModel" resultType="com.xiaozhi.entity.SysModel">
        SELECT
        <include refid="modelSql"></include>
        FROM
            sys_model
        WHERE
            sys_model.userId = #{userId}
            AND sys_model.state = 1
            <if test="type != null and type != ''">AND type = #{type}</if>
            <if test="modelName != null and modelName != ''">AND modelName LIKE CONCAT('%', #{modelName}, '%')</if>
    </select>

    <select id="selectModelByModelId" resultType="com.xiaozhi.entity.SysModel">
        SELECT
        <include refid="modelSql"></include>
        FROM
            sys_model
        WHERE
            sys_model.modelId = #{modelId}
    </select>
</mapper>