#app,
body,
html {
  height: 100%;
}

.ant-menu-root {
  font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, PingFang SC,
    Hiragino Sans GB, Microsoft YaHei, Helvetica Neue, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
}

.grid-block {
  width: fit-content;
  padding: 10px 20px;
  border-radius: 10px;
  background-color: rgb(244, 245, 245);
}

.input-200 {
  width: 200px !important;
}

.ant-form-item {
  margin: 0;
}

.table-search {
  background: #fff;
  margin-bottom: 16px;
  padding: 16px;
}

.filter-flex {
  flex-flow: row wrap;
}

.breadcrumb-header {
  padding: 10px 24px;
  height: auto;
  background: #fff;
}

.layout-content-margin {
  margin: 20px 20px 0;
}

.code-question {
  text-align: center;
  font-size: 24px;
  color: unset;
}