<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaozhi.dao.ConfigMapper">

    <sql id="configSql">
        sys_config.configId, sys_config.userId, sys_config.configName, sys_config.configDesc, sys_config.configType, sys_config.provider,
        sys_config.appId, sys_config.apiKey, sys_config.apiSecret, sys_config.apiUrl, sys_config.isDefault, sys_config.state, sys_config.createTime
    </sql>

    <sql id="deviceSql">
        sys_device.deviceId
    </sql>

     <sql id="roleSql">
        sys_role.roleId
    </sql>

    <insert id="add" parameterType="com.xiaozhi.entity.SysConfig">
        INSERT INTO sys_config (userId, configType, provider, configName, configDesc, appId, apiKey, apiSecret, apiUrl, isDefault)
        VALUES (#{userId}, #{configType}, #{provider}, #{configName}, #{configDesc}, #{appId}, #{apiKey}, #{apiSecret}, #{apiUrl}, #{isDefault})
    </insert>

    <update id="update" parameterType="com.xiaozhi.entity.SysConfig">
        UPDATE
            sys_config
        <set>
            <if test="configType != null and configType != ''">configType = #{configType},</if>
            <if test="provider != null and provider != ''">provider = #{provider},</if>
            <if test="configName != null and configName != ''">configName = #{configName},</if>
            <if test="configDesc != null and configDesc != ''">configDesc = #{configDesc},</if>
            <if test="appId != null and appId != ''">appId = #{appId},</if>
            <if test="apiKey != null and apiKey != ''">apiKey = #{apiKey},</if>
            <if test="apiSecret != null and apiSecret != ''">apiSecret = #{apiSecret},</if>
            <if test="apiUrl != null and apiUrl != ''">apiUrl = #{apiUrl},</if>
            <if test="isDefault != null and isDefault != ''">isDefault = #{isDefault},</if>
            <if test="state != null and state != ''">state = #{state},</if>
        </set>
        WHERE
            configId = #{configId}
    </update>

    <select id="query" parameterType="com.xiaozhi.entity.SysConfig" resultType="com.xiaozhi.entity.SysConfig">
        SELECT
        <include refid="configSql"></include>,
        <include refid="deviceSql"></include>,
        <include refid="roleSql"></include>
        FROM
            sys_config
            LEFT JOIN sys_role ON sys_role.ttsId = sys_config.configId
            LEFT JOIN sys_device ON sys_config.configId = sys_device.sttId
        WHERE
            sys_config.state = 1
            <if test="userId != null and userId != ''">AND sys_config.userId = #{userId}</if>
            <if test="configType != null and configType != ''">AND configType = #{configType}</if>
            <choose>
                <when test="provider != null and provider != ''">
                    AND provider = #{provider}
                </when>
                <otherwise>
                    AND provider != 'coze'
                </otherwise>
            </choose>
            <if test="configName != null and configName != ''">AND configName LIKE CONCAT('%', #{configName}, '%')</if>
    </select>

    <select id="selectConfigById" resultType="com.xiaozhi.entity.SysConfig">
        SELECT
        <include refid="configSql"></include>
        FROM
            sys_config
        WHERE
            sys_config.configId = #{configId}
    </select>
</mapper>