<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaozhi.dao.MessageMapper">

    <sql id="messageSql">
        sys_message.messageId, sys_message.message, sys_message.sender, sys_message.filePath, sys_message.createTime
    </sql>

    <sql id="deviceSql">
        sys_device.deviceName, sys_device.deviceName, sys_device.principalId
    </sql>


    <select id="query" resultType="com.xiaozhi.entity.SysMessage">
        SELECT
        <include refid="messageSql"></include>,
        <include refid="deviceSql"></include>
        FROM
            sys_message
            LEFT JOIN sys_device ON sys_message.deviceId = sys_device.deviceId
        WHERE
            sys_device.principalId = #{userId}
            <if test="startTime != null and startTime != ''">
                AND sys_message.createTime &gt;= #{startTime} AND sys_message.createTime &lt;= #{endTime}
            </if>
    </select>

    <insert id="add" parameterType="com.xiaozhi.entity.SysMessage">
        INSERT INTO sys_message ( deviceId, sender, message, filePath )
        SELECT #{deviceId}, #{sender}, #{message}, #{filePath}
    </insert>

</mapper>