<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaozhi.dao.MessageMapper">

    <sql id="messageSql">
        sys_message.messageId, sys_message.message, sys_message.sender, sys_message.roleId, sys_message.audioPath, sys_message.state, sys_message.createTime
    </sql>

    <sql id="deviceSql">
        sys_device.deviceId, sys_device.deviceName, sys_device.userId
    </sql>

    <sql id="roleSql">
        sys_role.roleId, sys_role.roleName, sys_role.roleDesc, sys_role.voiceName
    </sql>

    <select id="query" resultType="com.xiaozhi.entity.SysMessage">
        SELECT
        <include refid="messageSql"></include>,
        <include refid="deviceSql"></include>,
        <include refid="roleSql"></include>
        FROM
            sys_message
            LEFT JOIN sys_device ON sys_message.deviceId = sys_device.deviceId
            LEFT JOIN sys_role ON sys_message.roleId = sys_role.roleId
        WHERE
            sys_message.state = 1
            <if test="userId != null and userId != ''">AND sys_device.userId = #{userId}</if>
            <if test="deviceId != null and deviceId != ''">
                AND sys_message.deviceId = #{deviceId}
            </if>
            <if test="deviceName != null and deviceName != ''">
                AND sys_message.deviceName = #{deviceName}
            </if>
            <if test="startTime != null and startTime != ''">
                AND sys_message.createTime &gt;= #{startTime} AND sys_message.createTime &lt;= #{endTime}
            </if>
            <if test="sender != null and sender != ''">
                AND sys_message.sender = #{sender}
            </if>
        ORDER BY sys_message.createTime DESC
    </select>

    <insert id="add" parameterType="com.xiaozhi.entity.SysMessage">
        INSERT INTO sys_message ( deviceId, sessionId, sender, roleId, message, audioPath )
        SELECT #{deviceId}, #{sessionId}, #{sender}, #{roleId}, #{message}, #{audioPath}
    </insert>

    <update id="update" parameterType="com.xiaozhi.entity.SysMessage">
        UPDATE sys_message SET state = #{state} WHERE 
        <if test="messageId != null and messageId != ''">
            AND messageId = #{messageId}
        </if>
        <if test="devuceId != null and devuceId != ''">
            AND devuceId = #{devuceId}
        </if>
    </update>

</mapper>