<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaozhi.dao.ModelConfigMapper">

    <sql id="modelConfigSql">
        modelId, userId, modelName, modelName, apiKey, apiSecret, apiUrl, createTime
    </sql>

    <insert id="add" parameterType="com.xiaozhi.entity.SysModelConfig">
        INSERT INTO sys_model_config (userId, model, apiKey, apiSecret, apiUrl)
        VALUES (#{userId}, #{model}, #{apiKey}, #{apiSecret}, #{apiUrl})
    </insert>

    <update id="update" parameterType="com.xiaozhi.entity.SysModelConfig">
        UPDATE
            sys_model_config
        <set>
            <if test="model != null or model == ''">model = #{model},</if>
            <if test="appId != null or appId == ''">appId = #{appId},</if>
            <if test="apiKey != null or apiKey == ''">apiKey = #{apiKey},</if>
            <if test="apiSecret != null or apiSecret == ''">apiSecret = #{apiSecret},</if>
            <if test="apiUrl != null or apiUrl == ''">apiUrl = #{apiUrl},</if>
        </set>
        WHERE
            configId = #{configId}
    </update>

    <select id="query" parameterType="com.xiaozhi.entity.SysModelConfig" resultType="com.xiaozhi.entity.SysModelConfig">
        SELECT
        <include refid="modelConfigSql"></include>
        FROM
            sys_model_config
        WHERE
            userId = #{userId}
            <if test="type != null or type == ''">AND type = #{type}</if>
            <if test="modelName != null or modelName == ''">AND modelName LIKE CONCAT('%', #{modelName}, '%')</if>
    </select>

    <select id="selectModelConfigByModelId" resultType="com.xiaozhi.entity.SysModelConfig">
        SELECT
        <include refid="modelConfigSql"></include>
        FROM
            sys_model_config
        WHERE
            modelId = #{modelId}
        LIMIT 1
    </select>
</mapper>