<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xiaozhi.dao.RoleMapper">

    <sql id="roleSql">
        sys_role.roleId, sys_role.roleName, sys_role.roleDesc, sys_role.voiceName, sys_role.ttsId, sys_role.userId, sys_role.state, sys_role.isDefault, sys_role.createTime
    </sql>

    <sql id="configSql">
        sys_config.configId, sys_config.provider, sys_config.appId, sys_config.apiKey, sys_config.apiSecret
    </sql>

    <select id="query" resultType="com.xiaozhi.entity.SysRole">
        SELECT
        <include refid="roleSql"></include>,
        <include refid="configSql"></include>
        FROM
            sys_role
            LEFT JOIN sys_config ON sys_role.ttsId = sys_config.configId
        WHERE
            sys_role.state = 1
            <if test="userId != null and userId != ''">AND sys_role.userId = #{userId}</if>
            <if test="roleId != null and roleId != ''">AND sys_role.roleId = #{roleId}</if>
            <if test="roleName != null and roleName != ''">AND sys_role.roleName LIKE CONCAT('%', #{roleName}, '%')</if>
            <if test="isDefault != null and isDefault != ''">AND sys_role.isDefault = #{isDefault}</if>
    </select>

    <update id="update" parameterType="com.xiaozhi.entity.SysRole">
        UPDATE
            sys_role
        <set>
            <if test="roleName != null and roleName != ''">roleName = #{roleName},</if>
            <if test="roleDesc != null and roleDesc != ''">roleDesc = #{roleDesc},</if>
            <if test="voiceName != null and voiceName != ''">voiceName = #{voiceName},</if>
            <if test="isDefault != null and isDefault != ''">isDefault = #{isDefault},</if>
            <if test="ttsId != null and ttsId != ''">
                <choose>
                    <when test="ttsId == -1">ttsId = null,</when>
                    <otherwise>ttsId = #{ttsId},</otherwise>
                </choose>
            </if>
            <if test="state != null and state != ''">state = #{state},</if>
        </set>
        WHERE
            roleId = #{roleId}
    </update>

    <update id="resetDefault" parameterType="com.xiaozhi.entity.SysRole">
        UPDATE
            sys_role
        <set>
            isDefault = '0'
        </set>
        WHERE
            userId = #{userId}
    </update>

    <insert id="add" useGeneratedKeys="true" keyProperty="roleName" parameterType="com.xiaozhi.entity.SysRole">
        INSERT INTO sys_role ( roleName, roleDesc, voiceName, ttsId, userId, isDefault ) VALUES (
            #{roleName}, #{roleDesc}, #{voiceName}, #{ttsId}, #{userId}, isDefault
        )
    </insert>

    <select id="selectRoleById" resultType="com.xiaozhi.entity.SysRole">
        SELECT
        <include refid="roleSql"></include>
        FROM
            sys_role
        WHERE
            roleId = #{roleId}
    </select>

</mapper>